@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/power.ttf') format('truetype'),
    local('Ubuntu Condensed');
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald.woff2') format('woff2'),
    local('Oswald');
    font-display: swap;
}

@keyframes lazy {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes tchatleft {
    from {
        left: -1500px;
    }
    to {
        left: 10px;
    }
}

@keyframes tchatright {
    from {
        right: -1500px;
    }
    to {
        right: 10px;
    }
}

@keyframes tchatleftout {
    from {
        left: 10px;
    }
    to {
        left: -1500px;
    }
}

@keyframes tchatrightout {
    from {
        right: 10px;
    }
    to {
        right: -1500px;
    }
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #edededed;
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
    color: #505050;
}

input {
    float: left;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 16px;
    padding: 10px 15px;
    outline: none;
    font-size: 1.2em;
    font-family: 'Ubuntu', sans-serif;
}

input:focus {
    border-color: #4ea5ff;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

span > a:link {
    color: #7f7f7f;
}

span > a:visited {
    border-bottom: 1px solid;
    color: #aaaaaa;
}

span > a:focus {
    border-bottom: 1px solid;
    color: #aaaaaa;
}

span > a:hover {
    border-bottom: 1px solid;
    color: #aaaaaa;
}

span > a:active {
    border-bottom: 1px solid;
    color: #aaaaaa;
}

b {
    color: #ff3636;
}

div {
    border-radius: 16px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 95%;
}

header, main, footer {
    animation: lazy 1s forwards;
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, .2) 0 0 20px 0;
}

header {
    line-height: 1;
    padding: 10px 20px;
    min-height: 5%;
}

.logo {
    color: #ff3636;
    padding: 0;
    font-size: 3.25em;
    font-family: 'Oswald', 'Ubuntu';
    text-transform: uppercase;
    font-weight: bold;
}

main {
    margin: 30px 0;
    height: calc(80% - 60px);
}

footer {
    min-height: 10%;
    padding: 10px 20px;
    line-height: 1.75;
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px 20px 20px;
}

.window > .top, .window > .content, .window > .bottom {
    width: 100%;
    text-align: left;
}

.window > .top, .window > .bottom {
    height: calc(10% + 15px);
}

.window > .top {
    position: relative;
    border-radius: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.window > .top > .name, .window > .top > .state {
    max-width: 85%;
    position: absolute;
    left: 15px;
}

.window > .top > .name {
    font-weight: bold;
    font-size: 1.5em;
    top: 0;
}

.window > .top > .state {
    bottom: 10px;
}

.window > .top > .state::before {
    content: "●";
    margin-right: 3px;
    color: #78DE45;
}

.window > .content {
    padding: 20px;
    height: calc(80% - 70px);
    overflow-x: hidden;
    margin: 20px 0;
    border: 2px solid rgba(0, 0, 0, .1);
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 16px;
}

.window > .content > .chat {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.window > .content > .chat:first-child {
    margin-top: 0;
}

.window > .content > .left {
    padding-right: 200px;
    float: left;
    animation: tchatleft .3s forwards;
    left: -1500px;
}

.window > .content > .left::before, .window > .content > .right::after {
    position: absolute;
    top: 50%;
    font-size: 1.5em;
    transform: translateY(-50%);
}

.window > .content > .left::before {
    content: "◄";
    color: #007AFF;
    left: -20px;
}

.window > .content > .right {
    float: right;
    padding-left: 200px;
    animation: tchatright .3s forwards;
    right: -1500px;
}

.window > .content > .right::after {
    content: "►";
    color: #4ea5ff;
    right: -20px;
}

.window > .content > .chat > .text {
    padding: 10px 15px;
    word-break: break-word;
    color: #fff;
}

.window > .content > .chat > .text > b {
    color: #fff;
}

.window > .content > .chat > .text > i > b {
    color: #fff;
}

.window > .content > .left > .text {
    float: left;
    background-color: #007AFF;
}

.window > .content > .right > .text {
    float: right;
    background-color: #4ea5ff;
}

.window > .bottom > input {
    width: calc(100% - 115px);
    height: 100%;
}

.content-btn {
    float: right;
    height: 100%;
    padding: 0 15px;
    font-size: 1.5em;
    color: #4ea5ff;
    user-select: none;
    line-height: 2.5;
}

.content-btn:hover {
    cursor: pointer;
    opacity: .75;
    text-decoration: underline;
}

#edit-name {
    width: auto;
}